<%- include("partials/header") -%>
<div class="container">
  <h1>Messages</h1>
  <form method="post" id="msgForm">
    <input id="m" type="text" autocomplete="off" />
    <button type="submit">Send</button>
  </form>
</div>
<%- include("partials/footer") -%>
